.env
/minecraft-vanilla/backup/*
!/minecraft-vanilla/backup/.gitkeep
/minecraft-vanilla/world/*
!/minecraft-vanilla/world/.gitkeep
/minecraft-paper/backup/*
!/minecraft-paper/backup/.gitkeep
/minecraft-paper/world/*
!/minecraft-paper/world/.gitkeep
/minecraft-paper/world_nether/*
!/minecraft-paper/world_nether/.gitkeep
/minecraft-paper/world_the_end/*
!/minecraft-paper/world_the_end/.gitkeep
/minecraft-paper/plugins/*
!/minecraft-paper/plugins/.gitkeep
/client/data/*
!/client/data/.gitkeep
